<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raumbuchung Angebot</title>
</head>

<body>
    <div id="company_heading">
        <p><span style="font-weight:bold">{{company}}</span> 
            <img style="float:right; width:134px;height:156px;" src="../static/coco_logo.jpg" alt="">  <br>
            {{name}} <br>
            {{adress}} <br>
            {{postal_code}}, {{city}} <br>
            {{country}} <br><br><br><br><br><br>
        </p>
    </div>

    <div id="hello_msg">
        <p><span style="font-weight:bold;"> Hallo, </span> 
        <span id="date" style="float:right;">Graz, {{today_date}}</span>    
        <br><br>
        vielen Dank für deine Anfrage! <br>
        Wir freuen uns, dir folgendes Angebot übermitteln zu dürfen: 
        </p>
    </div>

    <div id="overview">
        <h3>1. Übersicht</h3>
        <p><span style="font-weight:bold;">Standort: </span> &emsp; Entenplatz 1A, 8020 Graz
        <br><span style="font-weight:bold;">Termin: </span> &nbsp; &emsp;  {{booking_date}}
        <br><span style="font-weight:bold;">Uhrzeit: </span> &ensp;&emsp; {{start_time}}
        <br><span style="font-weight:bold;">Stunden: </span> &nbsp;&emsp; {{duration}}
        <br><span style="font-weight:bold;">Teilnehmer: </span> &nbsp; Information folgt
        </p>

        <table>
            <tr>
                
            </tr>
        </table>
    </div>


</body>

</html>