{% extends "base.html" %}
{% block content %}
<div class="d-grid gap-2 col-6 mx-auto">
    <div class="mb-4 bg-light border rounded-3 tp-5">
        <div class="container pt-3">
            <form method="POST">
                {{ form.hidden_tag() }}
                <div class="mb-3 form-group">
                    {{ form.room.label(class='form-label') }}
                    {{ form.room(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.date.label(class='form-label') }}
                    {{ form.date(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.start_at.label(class='form-label') }}
                    {{ form.start_at(class='form-control') }}
                    {{ form.end_at.label(class='form-label') }}
                    {{ form.end_at(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.company.label(class='form-label') }}
                    {{ form.company(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.name.label(class='form-label') }}
                    {{ form.name(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.adress.label(class='form-label') }}
                    {{ form.adress(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.zip_code.label(class='form-label') }}
                    {{ form.zip_code(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.city.label(class='form-label') }}
                    {{ form.city(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.land.label(class='form-label') }}
                    {{ form.land(class='form-control') }}
                </div>
                <div class="mb-3 form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}